                                                                                           :root {
                                                                                              --primario: #ffb6b9;
                                                                                              --secundario: #fae3d9;
                                                                                              --verdeclaro: #bbded6;
                                                                                              --verdeoscuro: #61c0bf;
                                                                                          }
                                                                                          
                                                                                          a:link,
                                                                                          a:visited {
                                                                                              text-decoration: none;
                                                                                              color: var(--verdeoscuro);
                                                                                          }
                                                                                          
                                                                                          body {
                                                                                              background-color: white;
                                                                                          }
                                                                                          
                                                                                          .contenedor {
                                                                                              background-color: var(--primario);
                                                                                              width: 80%;
                                                                                              padding: 2rem;
                                                                                              border-radius: 0.5rem;
                                                                                              margin: 0 auto;
                                                                                              margin-top: 2rem;
                                                                                              margin-bottom: 1rem;
                                                                                          }
                                                                                          
                                                                                          h1 {
                                                                                              margin: 0 auto;
                                                                                              text-align: center;
                                                                                              font-family: 'Raleway';
                                                                                              padding: 1rem;
                                                                                              color: white;
                                                                                          }
                                                                                          
                                                                                          h2 {
                                                                                              text-align: center;
                                                                                              font-family: "raleway";
                                                                                              font-style: italic;
                                                                                              font-size: small;
                                                                                              color: white;
                                                                                          }
                                                                                          
                                                                                          .opciones {
                                                                                              outline: none;
                                                                                              max-width: 130rem;
                                                                                              text-align: center;
                                                                                              display: flex;
                                                                                              justify-content: space-evenly;
                                                                                              font-family: 'Raleway';
                                                                                              font-weight: bold;
                                                                                              background-color: var(--secundario);
                                                                                              padding: 0.5rem;
                                                                                          }
                                                                                          
                                                                                          .opciones :hover {
                                                                                              color: white;
                                                                                          }
                                                                                          
                                                                                          .cajas {
                                                                                              width: 100%;
                                                                                              display: grid;
                                                                                              margin-top: 1rem;
                                                                                          }
                                                                                          
                                                                                          .cajas textarea {
                                                                                              height: 10rem;
                                                                                              outline: none;
                                                                                              border: 0;
                                                                                              border-radius: 0.5rem;
                                                                                              padding: 1rem;
                                                                                          }
                                                                                          
                                                                                          .botones {
                                                                                              display: flex;
                                                                                              flex-direction: row;
                                                                                          }
                                                                                          
                                                                                          .boton {
                                                                                              background-color: white;
                                                                                              border: none;
                                                                                              border-radius: 0.5rem;
                                                                                              text-decoration: none;
                                                                                              text-align: center;
                                                                                              width: 50%;
                                                                                              padding: 0.5rem 2rem;
                                                                                              text-transform: uppercase;
                                                                                              font-size: x-large;
                                                                                              font-family: 'Raleway';
                                                                                              font-weight: bold;
                                                                                              color: var(--verdeoscuro);
                                                                                          }
                                                                                          
                                                                                          .cifrar :hover {
                                                                                              cursor: pointer;
                                                                                              background-color: var(--verdeclaro);
                                                                                              color: white;
                                                                                          }
                                                                                          
                                                                                          .cifrar .boton {
                                                                                              width: 100%;
                                                                                          }
                                                                                          
                                                                                          .rango {
                                                                                              margin-bottom: 1rem;
                                                                                              text-decoration: none;
                                                                                              outline: none;
                                                                                              border: 0;
                                                                                          }
                                                                                          
                                                                                          p {
                                                                                              margin: auto;
                                                                                              font-family: 'Raleway';
                                                                                              color: white;
                                                                                          }